.svg-icon {
    display: inline-block;
}

.svg-icon--equipment {
    width: 29px;
    height: 29px;
}

.svg-icon--sign {
    width: 29px;
    height: 29px;
}

.svg-icon--question {
    width: 40px;
    height: 30px;
}

.svg-icon--expand {
    width: 14px;
    height: 25px;
}

.svg-icon--map-pointer-light {
    width: 16px;
    height: 16px;
}
.svg-icon--phone-light {
    width: 16px;
    height: 14px;
}

.svg-icon--twitter-footer {
    width: 22px;
    height: 18px;
}

.svg-icon--vk-footer {
    width: 25px;
    height: 15px;
}

.svg-icon--instagram-footer {
    width: 19px;
    height: 19px;
}

.svg-icon--upward {
    width: 17px;
    height: 9px;
}